* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: #c5d4de;
}
header .back{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    width:100%;
    /* background-color:  #3fa14c; */
    top: 0;
    height:50px;
}
header .back button{
    transition: background-color 0.2s ease;
    background-color: #000;
    border: none;
    color: white;
    padding: 5px;
    height:40px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 10px;
}
header .back button:hover{
    background-color: #5e5e5e;
}

h1 {
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #3fa14c;
    color: #FFF;
    padding-bottom: 2px;
}

header h3 {
    display: flex;
    justify-content: center;
    background-color: #3fa14c;
    padding:20px;
    margin-bottom:40px;
    
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
main h4{
    display: flex;
    justify-content: center;
    background-color: #3fa14c;
    padding:5px 300px;
    border-radius:5px;
    margin:10px;
}
li {
    display: flex;
    justify-content: center;
    flex-flow: column-nowrap;
    list-style-type: none; 
    margin:5px;
}
main p{
   transition: background-color 0.2s ease;
    border: solid 1px;
    border-radius: 5px;
    background-color: white;
    padding:3px 30px;
    width:400px;
    margin:2px;
}
main p:hover{
    background-color: #a1abb5;    
}