* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: 'Sora', sans-serif;
    background-color: #c5d4de;
  }
  
  #main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 1300px;
    margin: 200px auto;
    background-color:#FFF;
    display: flex;
    border-radius: 10px;
  }
  
  .left-container {
    width: 40%;
    background-color:#FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .logo-box {    
    margin: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .logo {
    max-width: 100%;
  }
  
  .right-container {
    background-color: #3fa14c;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .login-box {
    max-width: 100%;
    width: 600px;
    background-color: #FFF;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin: 50px 100px;  
    padding: 90px 30px 40px;
  }

  .login-title {
    margin-top: 20px;
    color: #35863f;
    font-weight: 600;
    font-size: 2.1rem;
    text-align: center;    
  }
    
  .login-title2 {
    color: #35863f;
    font-weight: 600;
    font-size: 2.1rem;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .login-subtitle {
    color: #3fa14c;
    font-weight: 400;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
  }
      
  .login-google {
    transition: background-color 0.3s ease; 
    border-radius: 10px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    width: 200px; 
    height: 50px;
  }

  .login-google:hover {
    background-color: #35863f;
  }
  