body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0; /* Altere a cor de fundo conforme necessário */
}

#mec-image {
    width: 80px; 
    height: 80px; 
    margin-bottom: 5px; 
}

.cabecalho {
    text-align: center;
    margin-bottom: 40px;
}

.cabecalho p {
    margin: 0; /* Remove a margem padrão dos parágrafos */
}

.container {
    width: 21cm; /* Largura aproximada de uma página A4 */
    max-width: 100%;
    margin: 20px;
    background-color: #fff; /* Cor de fundo do container */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque ao container */
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.3em;
}

table {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    max-width: 100%; /* Garante que a tabela não ultrapasse a largura máxima do container */
    border-collapse: collapse;  
    border-radius: 8px; /* Adiciona cantos levemente arredondados à tabela */
    overflow: hidden; /* Garante que os cantos arredondados sejam aplicados corretamente */      
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;    
    font-weight: bold;
}

.espacamento {
    margin-bottom: 50px;
}

.identify {
    text-align: left;
    font-size: 1em;
    margin-bottom: 2px;
    font-family: 'Helvetica', sans-serif;
    color: #333;
    line-height: 1.4;
}
.al_esquerda {
    text-align: left;     
}

.bold {
    font-weight: bold;
}

@media print {
    @page {
        size: A4;
        margin-top: 3cm; /* Margem superior */
        margin-right: 2cm; /* Margem direita */
        margin-bottom: 2cm; /* Margem inferior */
        margin-left: 2cm; /* Margem esquerda */
    }

    @page :first {
        margin-top: 0.8cm; /* Margem superior específica para a primeira página */
    }

    body * {
        visibility: hidden;
    }

    .container, .container * {
        visibility: visible;
    }

    .container {
        width: 100%; /* Ocupa toda a largura da página impressa */
        margin: 0; /* Sem margem para a impressão */
        box-shadow: none; /* Sem sombra para a impressão */
        page-break-before: always; /* Garante uma nova página para cada container */
    }

    .identify {
        font-size: 80%; /* Evita que o contêiner seja quebrado entre páginas */
    } 

    .disciplina-container {
        page-break-inside: avoid; /* Evita que o contêiner seja quebrado entre páginas */
    } 

    table {
        font-size: 80%; /* Ajuste o valor conforme necessário para reduzir o tamanho da fonte */
    }
}