<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='resultados.css') }}">
    <title>Resultados</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="/" class="link-wrapper">                
                <img src="{{ url_for('static', filename='img/voltar.png') }}" alt="voltar" class="voltar">                
            </a>            
        </div>
        <h1>Resultados</h1>
        <h2>Selecione o professor:</h2>
        <ul>
            {% for professor in professores %}
                <li>
                    <form action="{{ url_for('exibir_avaliacoes_professor', professor_nome=professor.Nome) }}" method="post">                    
                        <input type="hidden" name="professor_id" value="{{ professor.IDProfessor }}">                    
                        <button type="submit" style="background: none; border: none; padding: 0; margin: 0; cursor: pointer;">
                            <p>
                                Professor(a): {{ professor.Nome }}
                            </p>
                        </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>